extends ../../layout
block content-mpro
  include ../../partials/header.pug
  .container-fluid
    .row
      .col-md-12
        .row.dashboard-nav-row
          .col-md-4
            a(href="/"+user.role)
              h5 Actividades
          .col-md-4.nav-active
            a(href="/"+user.role+"/users")
              h5 Usuarios
          .col-md-4
            a(href="/"+user.role+"/equipments")
              h5 Equipos
        .row.information-company
          .col-md-12
            span Empresa a la que colabora 
            h4(style="display:inline-block") <b>#{currentAccount.company.company.name}</b>
            span Sucursal
            h4(style="display:inline-block") <b>#{currentAccount.company.name}</b>
          .col-md-12
            p 
        .row.company-nav-row
          .col-md-12
            .btn-group
              button#addAccount.btn.btn-primary(type="button", data-toggle="addAccountModal", style="cursor:pointer; background-color:rgb(0,155,219)") Agregar Usuario 
                i.fa.fa-plus
          .col-md-12
            table.table
              each account, i in accounts
                if i==0
                  thead
                    th #
                    th Nombre
                    th username
                    th Correo
                    th Rol
                    th Fecha de ingreso
                    th status
                    th
                    th 
                tbody
                  tr
                    td=i+1
                    td=account.name
                    td=account.username
                    td=account.email
                    td=account.role
                    td=account.date
                    td
                      if account.status==true
                        label.label-sm.label-success Activo
                      else
                        label.label-sm.label-default Inactivo
                    td
                      a.btn.default.btn-xs.blue-stripe(href="/account") ver
                    td
                      i.fa.fa-trash(aria-hidden="true")
  #addAccountModal.modal.fadde(role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5.modal-title Agregar Usuario
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          #warningAccountForm.alert.alert-warning.alert-dismissible(role="alert",, style="display:none;")
            button.close(type="button", data-dismiss="alert", aria-label="Close")
              span(aria-hidden="true")
            strong Hey! 
          #content(style="display:inline-block")
          form(role="form", id="addAccountForm", name="addAccountForm", action="/account", method="post")
            .form-group.row
              label.col-3.col-form-label(for="name") Nombre
              .col-9
                input.form-control(type="text", id="name", name="name", plateholder="Nombre", required="true")
            .form-group.row
              label.col-3.col-form-label(for="email") Correo
              .col-9
                input.form-control(type="email", id="username", name="username", plateholder="Correo", required="true" )
            .form-group.row
              label.col-3.col-form-label(for="role") Role
              .col-9
                select.form-control(id="role", name="role", required="true")
                  option Seleccione
                  each role in roles
                    option(value=role, selected="true") #{role}
            input(type="hidden", name="company", value=currentAccount.company.company._id)
            input(type="hidden", name="branchcompany", value=currentAccount.company._id)
            .form-group.row
              label.col-3.col-form-label(for="status") Estatus
              .col-9
              input.form-control(type="checkbox", id="status", name="status")
            .col-12(style="text-align:right")
              button.btn.btn-secondary(type="button", data-dismiss="modal", style="margin-right:1%;") Cerrar
              button.btn.btn-primary.addAccountSubmit(type="submit") Crear
  script(src='../../javascripts/account/main.js')