extends ../../layout
block content-mpro
  include ../../partials/header.pug
  .container-fluid
    .row
      .col-md-12
        .row#headerNav.dashboard-nav-row
          .col-md-3
            a(href="/"+user.role)
              | Actividades
          .col-md-3
            a(href="/"+user.role+"/companies")
              | Empresas
          .col-md-3.nav-active
            a(href="/"+user.role+"/users")
              | Usuarios
          .col-md-3
            a(href="/"+user.role+"/equipments")
              | Equipos
        .row.company-nav-row.container-fluid
          .col-md-12
            .btn-group
              button#addAccount.btn.btn-primary(type="button", data-toggle="addAccountModal", style="cursor:pointer; background-color:rgb(0,155,219)") Agregar Usuario 
                i.fa.fa-plus
          .col-md-12
            table.table
              each account, i in accounts
                if i==0
                  thead
                    th #
                    th Nombre
                    th username
                    th Correo
                    th Rol
                    th Empresa
                    th Sucursal
                    th Fecha de ingreso
                    th status
                    th
                    th 
                tbody
                  tr
                    td=i+1
                    td=account.name
                    td=account.username
                    td=account.email
                    td=account.role
                    if account.role=="admin" 
                      td
                      td
                    else if account.role=="admin_company"
                      td=account.company.name
                      td
                    else
                      td=account.company.company.name
                      td=account.company.name
                    td=account.date
                    td
                      if account.status==true
                        label.label-sm.label-success Activo
                      else
                        label.label-sm.label-default Inactivo
                    td
                      a.btn.default.btn-xs.blue-stripe(href="/account") ver
                    td
                      i.fa.fa-trash(aria-hidden="true")
  include ../../partials/login-modal.pug
  script(src='../../javascripts/account/main.js')
    