extends ../../layout
block content-mpro
  include ../../partials/header.pug
  .container-fluid
    .row
      .col-md-12
        .row.dashboard-nav-row
          .col-md-4
            a(href="/"+user.role+"/"+user.identifier)
              h5 Actividades
          .col-md-4
            a(href="/"+user.role+"/"+user.identifier+"/company")
              h5 Empresas
          .col-md-4.nav-active
            a(href="/"+user.role+"/"+user.identifier+"/users")
              h5 Usuarios
        .row.company-nav-row
          .col-md-12
            #addAccount.button.btn.btn-primary.btn-lg.btn-block(type="button", data-toggle="addAccountModal") Agregar Usuario						
          .col-md-12
            table.table
              each account, i in currentAccounts
                if i==0
                  thead
                    th #
                    th Nombre
                    th username
                    th Correo
                    th Rol
                    th Empresa
                    th Sucursal
                    th Fecha de ingreso
                    th status
                    th
                    th 
                tbody
                  tr
                    td=i+1
                    td=account.name
                    td=account.username
                    td=account.email
                    td=account.role
                    if user.role=="admin"
                      td=account.company.name
                      td
                    else if user.role=="admin_company"
                      td=currentAccount.company.name
                      td=account.company.name
                    td=account.date
                    td=account.status
                    td
                      i.fa.fa-pencil-square-o(aria-hidden="true")
                    td
                      i.fa.fa-trash(aria-hidden="true")
  #addAccountModal.modal.fadde(role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5.modal-title Agregar Usuario
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          #warningAccountForm.alert.alert-warning.alert-dismissible(role="alert",, style="display:none;")
            button.close(type="button", data-dismiss="alert", aria-label="Close")
              span(aria-hidden="true")
            strong Hey! 
          #content(style="display:inline-block")
          form(role="form", id="addAccountForm", name="addAccountForm", action="/account", method="post")
            .form-group.row
              label.col-3.col-form-label(for="name") Nombre
              .col-9
                input.form-control(type="text", id="name", name="name", plateholder="Nombre", required="true")
            .form-group.row
              label.col-3.col-form-label(for="email") Correo
              .col-9
                input.form-control(type="email", id="username", name="username", plateholder="Correo", required="true" )
            .form-group.row
              label.col-3.col-form-label(for="role") Role
              .col-9
                select.form-control(id="role", name="role", required="true")
                  option Seleccione
                  each rol in roles
                    option(value=rol) #{rol}
            .form-group.row
              label.col-3.col-form-label(for="") Empresa
              .col-9
                select.form-control(id="company", name="company", required="true")
                  option Seleccione
                  each company in companies
                    option(value=company._id) #{company.name}
            .form-group.row
              label.col-3.col-form-label(for="") Sucursal
              .col-9
                select.form-control(id="branchcompany", name="branchcompany")
                  option Seleccione
                  each company in branch_companies
                    option(value=company._id) #{company.name}
            .form-group.row
              label.col-3.col-form-label(for="status") Estatus
              .col-9
              input.form-control(type="checkbox", id="status", name="status" )
            .col-12(style="text-align:right")
              button.btn.btn-secondary(type="button", data-dismiss="modal", style="margin-right:1%;") Cerrar
              button.btn.btn-primary.addAccountSubmit(type="submit") Crear
  script(src='../../javascripts/account/main.js')
    