extends ../../layout
block content-mpro
  include ../../partials/header.pug
  .container-fluid
    .row
      .col-md-12
        .row.information-company
          .col-md-12
            span Empresa a la que colabora 
            h4(style="display:inline-block") <b>#{currentAccount.company.name}</b>
          .col-md-12
            p 
        #tabcontent
          .row
            .col-md-12
              table.table.table-header
                thead
                  tr
                    th Tipo
                    th Accion
                    th Descripcion
                    th Fecha
                tbody
                  each activity, i in activities
                    tr
                      td #{activity.level}
                      td #{activity.type}
                      td #{activity.text}
                      td #{activity.date}
  script(type='text/javascript').
    $(document).ready(function () {
      if ('!{Object.keys(user).length > 0}' === 'true' && '!{user.username}' === '!{currentAccount.username}') {				
        $('#myActivityTable').DataTable({
          'paging': true,
          'ordering': true,
          'pagingType': 'full_numbers',
          'lengthMenu': [[ 50, 100, 500, -1], [50, 100, 500, 'All']]
        });
      }
    })