extends ../../layout
block content-mpro
  include ../../partials/header.pug
  .container-fluid
    .row
      .col-md-12
        .row#headerNav.dashboard-nav-row
          .col-md-3.nav-active
            a(href="/"+user.role)
              | Actividad
          .col-md-3
            a(href="/"+user.role+"/companies")
              | Empresa
          .col-md-3
            a(href="/"+user.role+"/users")
              | Usuarios
          .col-md-3
            a(href="/"+user.role+"/equipments")
              | Equipos
        .row.information-company
          .col-md-12
            span Empresa a la que colabora 
            h4(style="display:inline-block") <b>#{currentAccount.company.name}</b>
          .col-md-12
            p 
        #tabcontent
          .row
            .col-md-12
              table#myActivityTable(class="table table-striped table-bordered")
                thead
                  tr
                    th Tipo
                    th Accion
                    th Descripcion
                    th Fecha
                tbody
                  each act,i in activity
                    tr
                      td #{act.level}
                      td #{act.type}
                      td #{act.text}
                      td #{act.date}
  script(type='text/javascript').
    $(document).ready(function(){
      if('!{Object.keys(user).length > 0}' === 'true' && '!{user.username}' === '!{currentAccount.username}') {				
        $('#myActivityTable').DataTable({
            "paging":   true,
            "ordering": true,
            "pagingType": "full_numbers",
            "lengthMenu": [[ 50, 100, 500, -1], [50, 100, 500, "All"]]
        });
      }
    })