extends ../layout
block content-mpro
  include ../partials/header.pug
  .container-fluid
    .row
      .col-md-12
        .row
          .col-md-4
            .portlet.light.profile-sidebar-portlet
              .profile-userpic
                img.img-responsive(src='/images/company.png', alt='')                            
              .profile-usertitle(style="text-align:left;padding-left:3px;")
                .profile-usertitle-name
                  h3#entityName !{entity.name}
                .profile-usertitle-job
                  h4#entityEmail !{entity.email}
                  label(for="location")
                  textarea#entityLocation !{entity.location}
              .profile-userbuttons
                button#editEntity.btn.btn-circle.blue.btn-sm(type='button') Editar
              .profile-usermenu
                ul.nav
                  li
                    a(href='#')
                      i.icon-home
                      | Inicio
                  li
                    a(href="/"+user.role)
                      i.icon-settings
                      | Actividades
                  li
                    a(href="/"+user.role+"/companies")
                      i.icon-check
                      | Empresas
                  li
                    a(href="/"+user.role+"/users")
                      i.icon-check
                      | Usuarios
          .col-md-8
            .container
              .portlet.light
                .portlet-title
                  .caption
                    i.fa.fa-cogs.font-blue-sharp
                    span.caption-subject.font-green-sharp.bold.uppercase
                    | Progreso
                  .tools
                    a.collapse(href="javascript:;")
                    a.config(href="#portlet-config", data-toggle="modal")
                    a.reload(href="javascript:;")
                .portlet-body
                  #chart_2.chart
        .row
          .col-md-6
            .portlet
                .portlet-title
                  .caption
                    i.fa.fa-cogs.font-blue-sharp
                    span.caption-subject.font-green-sharp.bold.uppercase
                    | Usuarios
                  .tools
                    a.reload(href="javascript:;")
                .portlet-body
                  .table-toolbar
                    .row
                      .col-md-6
                      .col-md-6(style="text-align:right")
                        .btn-group
                          //-button#addAccount.btn.btn-primary(type="button", data-toggle="addAccountModal", style="cursor:pointer; background-color:rgb(0,155,219)") Agregar
                            i.fa.fa-plus
                  table.table#accounts
                    thead
                      th #
                      th Nombre
                      th Correo
                      th Rol
                      th Fecha
                      th Estatus
                      th 
                    tbody
                      each item,i in accounts
                        tr.odd.gradeX
                          td=i+1
                          td=item.name
                          td=item.email
                          td=item.role
                          td=item.date
                          td
                            if item.status
                              span.label.label-sm.label-success activo
                            else                                                    
                              span.label.label-sm.label-default inactivo
                          td
                            i.fa.fa-trash(aria-hidden="true")
          .col-md-6
            .portlet
              if user.role=="admin"
                .portlet-title
                  .caption
                    i.fa.fa-cogs.font-blue-sharp
                    span.caption-subject.font-green-sharp.bold.uppercase
                    | Sucursales
                  .tools
                    a.reload(href="javascript:;")
                .portlet-body
                    .table-toolbar
                      .row
                        .col-md-6
                        .col-md-6(style="text-align:right")
                          .btn-group
                            //-button.btn.btn-primary Agregar
                              i.fa.fa-plus
                    table.table#branchcompanies
                      thead
                        th #
                        th Nombre
                        th Correo
                        th Telefono
                        th Ubicacion
                        th 
                      tbody
                        each item,i in entitiesRelated
                          tr.odd.gradeX
                            td=i+1
                            td=item.name
                            td=item.email
                            td=item.phone
                            td=item.location
                            td
                              i.fa.fa-trash(aria-hidden="true")                            
              .portlet-title
                .caption
                  i.fa.fa-cogs.font-blue-sharp
                  span.caption-subject.font-green-sharp.bold.uppercase
                  | Servicios
                .tools
                  a.reload(href="javascript:;")
              .portlet-body
                table.table#servicios
                  thead
                    th #
                    th Equipo
                    th fecha
                    th Estatus
                    th Usuarios
                    th 
                  tbody
                    each item,i in entitiesRelated
                      tr.odd.gradeX
                        td=i+1
                        td=item.name
                        td=item.email
                        td=item.phone
                        td=item.location
                        td
                          i.fa.fa-trash(aria-hidden="true")
  #editEntityModal.modal.fade(rol="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5.modal-title Editar Empresa
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          form(role="form", id="editComapnyForm", name="editComapnyForm", action="/entity", method="put")
            input(type="hidden", name="type", value="company")
            input(type="hidden", name="_id", value=entity._id)
            .form-group.row
              label.col-3.col-form-label(for="name") Nombre
              .col-9
                input.form-control(type="text", id="name", name="name", value=entity.name, plateholder="Nombre")
            .form-group.row
              label.col-3.col-form-label(for="email") Correo
              .col-9
                input.form-control(type="email", id="email", value=entity.email, name="email", plateholder="Correo")
            .form-group.row
              label.col-3.col-form-label(for="phone") Telefono
              .col-9
                input.form-control(type="phone", id="phone", name="phone", value=entity.phone, plateholder="Telefono")
            .form-group.row
              label.col-3.col-form-label(for="location") Ubicacion
              .col-9
                textarea.form-control(id="location", name="location", wrap="hard")
                  | #{entity.location}
            .col-12(style="text-align:right")
              button.btn.btn-secondary(type="button", data-dismiss="modal", style="margin-right:1%;") Cerrar
              button.btn.btn-primary.editEntitySubmit(type="submit") Actualizar
  script(src='../../javascripts/account/main.js')
  script(type="text/javascript").
    $(document).ready(function(){
      $('button#editEntity').click(function(){
        $('#editEntityModal').modal('show');
      });      
    });
