extends ../../layout
block content-mpro
  include ../../partials/header.pug
  .container-fluid
    .row
      .col-md-12
        .row#headerNav.dashboard-nav-row
          .col-md-3
            a(href="/"+user.role)
              | Actividades
          .col-md-3
            a(href="/"+user.role+"/companies")
              | Empresas
          .col-md-3
            a(href="/"+user.role+"/users")
              | Usuarios
          .col-md-3.nav-active
            a(href="/"+user.role+"/equipments")
              | Equipos
        .row.equipment-nav-row.container-fluid
          ul.nav.nav-tabs(role="tablist", id="tabEquipment")
            li.nav-item
              a.nav-link.active(data-toggle="tab", href="#equipmentType", role="tab", aria-controls="equipmentType") Tipo de Equipo
            li.nav-item
              a.nav-link(data-toggle="tab", href="#equipment", role="tab", aria-controls="equipment") Equipos
          .tab-content(style="width:100%")
            #equipmentType.tab-pane.active(role="tabpanel")
              .row
                .col-md-12
                  .btn-group
                    button#addEquipmentType.btn.btn-primary(type="button", data-toggle="addEquipmentTypeModal", style="cursor:pointer; background-color:rgb(0,155,219)") Agregar Tipo de Equipo 
                      i.fa.fa-plus
                .col-md-12
                  table.table
                    thead
                      th #
                      th Nombre
                      th Empresa
                      th
                      th
                    tbody
                      each equipmentType, i in equipmentTypes
                        tr
                          td=i+1
                          td=equipmentType.name
                          td=equipmentType.company.name
                          td
                            a.btn.default.btn-xs.blue-stripe(href="/home/"+user.identifier+"/equipmentType/"+equipmentType._id) ver
                          td
                            i.fa.fa-trash(aria-hidden="true")
            #equipment.tab-pane(role="tabpanel")
              .row
                .col-md-12
                  .btn-group
                    button#addEquipment.btn.btn-primary(type="button", data-toggle="addEquipmentModal", style="cursor:pointer; background-color:rgb(0,155,219)") Agregar Equipo 
                      i.fa.fa-plus
                .col-md-12
                  table.table
                    thead
                      th #
                      th Nombre
                      th Código
                      th Ubicación
                      th Tipo
                      th Empresa
                      th Sucursal
                      th Técnico
                      th
                      th
                    tbody
                      each equipment, i in equipments
                        tr
                          td=i+1
                          td=equipment.name
                          td=equipment.code
                          td=equipment.location
                          td=equipment.type.name
                          td=equipment.branchCompany.company.name
                          td=equipment.branchCompany.name
                          td=equipment.userAssigned.name
                          td
                            a.btn.default.btn-xs.blue-stripe(href="/home/"+user.identifier+"/equipment/"+equipment._id) ver
                          td
                            i.fa.fa-trash(aria-hidden="true")
  #addEquipmentTypeModal.modal.fade(rol="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5.modal-title Agregar Tipo de Equipo
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          form(role="form", id="addEquipmentTypeForm", name="addEquipmentTypeForm", action="/equipmentType", method="post")
            input(type="hidden", name="type", value="equipmentType")
            .form-group.row
              label.col-3.col-form-label(for="name") Nombre
              .col-9
                input.form-control(type="text", id="name", name="name", plateholder="Nombre")
            .form-group.row
              label.col-3.col-form-label(for="location") Descripción
              .col-9
                textarea.form-control(id="description", name="description", wrap="hard")
            .form-group.row
              label.col-3.col-form-label(for="") Empresa
              .col-9
                select.form-control(id="company", name="company", required="true")
                  option Seleccione
                  each company in companies
                    option(value=company._id) #{company.name}
            .col-12(style="text-align:right")
              button.btn.btn-secondary(type="button", data-dismiss="modal", style="margin-right:1%;") Cerrar
              button.btn.btn-primary.addEquipmentTypeSubmit(type="submit") Crear
  #addEquipmentModal.modal.fade(rol="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5.modal-title Agregar Equipo
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          form(role="form", id="addEquipmentForm", name="addEquipmentForm", action="/equipment", method="post")
            input(type="hidden", name="type", value="equipment")
            .form-group.row
              label.col-3.col-form-label(for="name") Nombre
              .col-9
                input.form-control(type="text", id="name", name="name", plateholder="Nombre")
            .form-group.row
              label.col-3.col-form-label(for="code") Código
              .col-9
                input.form-control(type="text", id="code", name="code", plateholder="Código")
            .form-group.row
              label.col-3.col-form-label(for="location") Ubicacion
              .col-9
                textarea.form-control(id="location", name="location", wrap="hard")
            .form-group.row
              label.col-3.col-form-label(for="") Empresa
              .col-9
                select.form-control(id="company", name="company")
                  option Seleccione
                  each company in companies
                    option(value=company._id) #{company.name}
            .form-group.row
              label.col-3.col-form-label(for="") Sucursal
              .col-9
                select.form-control(id="branchCompany", name="branchCompany")
                  option Seleccione
            .form-group.row
              label.col-3.col-form-label(for="") Tipo
              .col-9
                select.form-control(id="type", name="type")
                  option Seleccione
            .form-group.row
              label.col-3.col-form-label(for="") Técnico
              .col-9
                select.form-control(id="account", name="account")
                  option Seleccione
            .col-12(style="text-align:right")
              button.btn.btn-secondary(type="button", data-dismiss="modal", style="margin-right:1%;") Cerrar
              button.btn.btn-primary.addEquipmentSubmit(type="submit") Crear
  script(src='../../javascripts/equipment/main.js')
    