extends ../../layout
block content-mpro
  include ../../partials/header.pug
  .container-fluid
    .row
      .col-md-12
        .row.dashboard-nav-row
          .col-md-3
            a(href="/" + user.role + "/" + user.identifier + "/activities")
              h5 Actividades
          .col-md-3
            a(href="/" + user.role + "/" + user.identifier + "/users")
              h5 Usuarios
          .col-md-3.nav-active
            a(href="/" + user.role + "/" + user.identifier + "/equipments")
              h5 Equipos
        .row.information-company
          .col-md-12
            span Empresa a la que colabora 
            h4(style="display:inline-block") <b>#{currentAccount.company.name}</b>
            span Sucursal
            h4(style="display:inline-block") <b>#{currentAccount.company.name}</b>
          .col-md-12
            p 
        .row.equipment-nav-row
          ul.nav.nav-tabs(role="tablist", id="tabEquipment")
            li.nav-item
              a.nav-link.active(data-toggle="tab", href="#equipment", role="tab", aria-controls="equipment") Equipos
          .tab-content(style="width:100%")
            #equipment.tab-pane.active(role="tabpanel")
              .row.equipment-nav-row
                .col-md-11.mt-2.mb-2.mx-auto
                  .input-group
                    input.form-control(type="text", id="userSearchInput", placeholder="Usuario...")
                    span.input-group-btn
                      button#equipmentSearch.btn.btn-primary(type="button") Buscar
              .row.equipment-nav-row
                .col-md-12
                  .btn-group
                    button#addEquipment.btn.btn-primary(type="button", data-toggle="addEquipmentModal", style="cursor:pointer; background-color:rgb(0,155,219)") Agregar Equipo 
                      i.fa.fa-plus
                .col-md-12
                  table.table
                    thead
                      th #
                      th Nombre
                      th Código
                      th Ubicación
                      th Tipo
                      th Técnico
                      th
                      th
                    tbody
                      each equipment, i in equipments
                        tr
                          td=i+1
                          td=equipment.name
                          td=equipment.code
                          td=equipment.location
                          td=equipment.equipmentType.name
                          td=equipment.userAssigned.name
                          td
                            a.btn.default.btn-xs.blue-stripe(href="/home/" + user.identifier + "/equipment/" + equipment._id) Ver
                          td
                            i.fa.fa-trash(aria-hidden="true")
  #addEquipmentModal.modal.fade(rol="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header.bg-primary.text-white
          h4.modal-title.font-weight-bold Agregar Equipo
          button.close.fa.fa-close(type="button", style="color:white; opacity:1; text-shadow:1px 1px 1px #ccc; text-indent:0" data-dismiss="modal", aria-label="Close")
        .modal-body
          form(role="form", id="addEquipmentForm", name="addEquipmentForm", action="/equipment", method="post")
            .form-group.row
              label.col-3.col-form-label(for="name") Nombre
              .col-9
                input.form-control(type="text", id="name", name="name", placeholder="Nombre")
            .form-group.row
              label.col-3.col-form-label(for="code") Código
              .col-9
                input.form-control(type="text", id="code", name="code", placeholder="Código")
            .form-group.row
              label.col-3.col-form-label(for="location") Ubicacion
              .col-9
                textarea.form-control(id="location", name="location", wrap="hard")
            .form-group.row
              label.col-3.col-form-label(for="equipmentType") Tipo
              .col-9
                select.form-control(id="equipmentType", name="equipmentType")
                  option Seleccione
                  each equipmentType in equipmentTypes
                    option(value=equipmentType._id) #{equipmentType.name}
            .form-group.row
              label.col-3.col-form-label(for="") Técnico
              .col-9
                select.form-control(id="account", name="account")
                  option Seleccione
                  each account in accounts
                    option(value=account._id) #{account.name}
            input(type="hidden", name="company", value=currentAccount.company.company._id)
            input(type="hidden", name="branchCompany", value=currentAccount.company._id)
            .col-12(style="text-align:right")
              button.btn.btn-secondary(type="button", data-dismiss="modal", style="margin-right:1%;") Cerrar
              button.btn.btn-primary.addEquipmentSubmit(type="submit") Crear
  script(src='../../javascripts/equipment/main.js')
    