extends ../../layout
block content-mpro
  include ../../partials/header.pug
  .container-fluid
    .row
      .col-md-12
        .row.dashboard-nav-row
          .col-md-3
            a(href="/" + user.role + "/" + user.identifier + "/activities")
              h5 Actividades
          .col-md-3.nav-active
            a(href="/" + user.role + "/" + user.identifier + "/equipments")
              h5 Equipos
        .row.information-company
          .col-md-12
            span Empresa a la que colabora 
            h4(style="display:inline-block") <b>#{currentAccount.company.company.name}</b>
            span Sucursal
            h4(style="display:inline-block") <b>#{currentAccount.company.name}</b>
          .col-md-12
            p 
        .row.equipment-nav-row
          ul.nav.nav-tabs(role="tablist", id="tabEquipment")
            li.nav-item
              a.nav-link.active(data-toggle="tab", href="#equipment", role="tab", aria-controls="equipment") Equipos
          .tab-content(style="width:100%")
            #equipment.tab-pane.active(role="tabpanel")
              .row.equipment-nav-row
                .col-md-11.mt-2.mb-2.mx-auto
                  .input-group
                    input.form-control(type="text", id="userSearchInput", placeholder="Usuario...")
                    span.input-group-btn
                      button#equipmentSearch.btn.btn-primary(type="button") Buscar
              .row.equipment-nav-row
                .col-md-12
                  table.table
                    thead
                      th #
                      th Nombre
                      th C贸digo
                      th Ubicaci贸n
                      th Tipo
                      th
                      th
                    tbody
                      each equipment, i in equipments
                        tr
                          td=i + 1
                          td=equipment.name
                          td=equipment.code
                          td=equipment.location
                          td=equipment.equipmentType.name
                          td
                            a.btn.default.btn-xs.blue-stripe(href="/home/" + user.identifier + "/equipment/" + equipment._id) Ver
                          td
                            a.btn.default.btn-xs.blue-stripe(onclick="searchNextMaintenanceActivityAttention('" + equipment._id + "')") Atenci贸n
                          td
                            i.fa.fa-trash(aria-hidden="true")
  
  #updateMaintenanceActivityAttentionModal.modal.fade(role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header.bg-primary.text-white
          h4.modal-title.font-weight-bold Atenci贸n de Equipo 
            nbsp
            span#date
          button.close.fa.fa-close(type="button", style="color:white; opacity:1; text-shadow:1px 1px 1px #ccc; text-indent:0" data-dismiss="modal", aria-label="Close")
        .modal-body
          form(role="form", id="updateMaintenanceActivityAttentionGroup", name="updateMaintenanceActivityAttentionGroup", action="/equipments/maintenanceActivityDates", method="put")
            .form-group.row
              .col-md-6(style="text-align:left")
                h4.font-weight-bold Estado: 
                  nbsp
                  span(style="display:none;", id="toAttend") Por Atender
                  span(style="display:none;", id="notStarted") No Iniciado
                  span(style="display:none;", id="inProgress") En Progreso
                  span(style="display:none;", id="finished") Finalizado
              .col-md-6(style="text-align:right")
                input.form-control(type="hidden", id="maintenanceActivityDate", name="maintenanceActivityDate")
                button#startAttentionSubmit.btn.btn-primary(type="submit", style="display:none; cursor:pointer; background-color:rgb(0,155,219)") Iniciar
                button#finishAttentionSubmit.btn.btn-primary(type="submit", style="display:none; cursor:pointer; background-color:rgb(0,155,219)") Finalizar
          form(role="form", id="updateMaintenanceActivityAttention", name="updateMaintenanceActivityAttention", action="/maintenanceActivityAttentions", method="put")
            .row
              .col-12(style="text-align:right")
                button.btn.btn-secondary(type="button", data-dismiss="modal", style="margin-right:1%;") Cerrar
                button#updateMaintenanceActivityAttentionSubmit.btn.btn-primary(type="submit", style="display:none;") Guardar
  script(src='../../javascripts/equipment/main.js')
    