extends ../layout
block content-mpro
  include ../partials/header.pug
  .container-fluid
    .row
      .col-md-12
        .row
          .col-md-4
            .portlet.light.profile-sidebar-portlet
              .profile-userpic
                img.img-responsive(src='/images/avatar.png', alt='')                            
              .profile-usertitle
                .profile-usertitle-name
                  h3 !{entity.name}
                .profile-usertitle-job
                  h4 !{entity.email}
                  label(for="location")
                  textarea !{entity.location}
              .profile-userbuttons
                button.btn.btn-circle.blue-haze.btn-sm(type='button') activo
              .profile-usermenu
                ul.nav
                  li.active
                    a(href='#')
                    i.icon-home
                    | Inicio
                  li
                    a(href="/"+user.role+"/"+user.identifier)
                    i.icon-settings
                    | Actividades
                  li
                    a(href="/"+user.role+"/"+user.identifier+"/company")
                    i.icon-check
                    | Empresa
                  li
                    a(href="/"+user.role+"/"+user.identifier+"/users")
                    i.icon-check
                    | Usuarios
          .col-md-8
            .container
              .portlet.light
                .portlet-title
                  .caption
                    i.fa.fa-cogs.font-blue-sharp
                    span.caption-subject.font-green-sharp.bold.uppercase
                    | Progreso
                  .tools
                    a.collapse(href="javascript:;")
                    a.config(href="#portlet-config", data-toggle="modal")
                    a.reload(href="javascript:;")
                .portlet-body
                  #chart_2.chart
        .row
          .col-md-6
            .portlet
                .portlet-title
                  .caption
                    i.fa.fa-cogs.font-blue-sharp
                    span.caption-subject.font-green-sharp.bold.uppercase
                    | Usuarios
                  .tools
                    a.reload(href="javascript:;")
                .portlet-body
                  .table-toolbar
                    .row
                      .col-md-6
                      .col-md-6(style="text-align:right")
                        .btn-group
                          button.btn.btn-primary Agregar 
                            i.fa.fa-plus
                  table.table#accounts
                    thead
                      th #
                      th Nombre
                      th Correo
                      th Rol
                      th Fecha
                      th Estatus
                      th 
                    tbody
                      each item,i in accounts
                        tr.odd.gradeX
                          td=i+1
                          td=item.name
                          td=item.email
                          td=item.role
                          td=item.date
                          td
                            if item.status
                              span.label.label-sm.label-success activo
                            else                                                    
                              span.label.label-sm.label-default inactivo
                          td
                            i.fa.fa-trash(aria-hidden="true")
          .col-md-6
            .portlet
              if user.role=="admin"
                .portlet-title
                  .caption
                    i.fa.fa-cogs.font-blue-sharp
                    span.caption-subject.font-green-sharp.bold.uppercase
                    | Sucursales
                  .tools
                    a.reload(href="javascript:;")
                .portlet-body
                    .table-toolbar
                      .row
                        .col-md-6
                        .col-md-6(style="text-align:right")
                          .btn-group
                            button.btn.btn-primary Agregar 
                              i.fa.fa-plus
                    table.table#branchcompanies
                      thead
                        th #
                        th Nombre
                        th Correo
                        th Telefono
                        th Ubicacion
                        th 
                      tbody
                        each item,i in entitiesRelated
                          tr.odd.gradeX
                            td=i+1
                            td=item.name
                            td=item.email
                            td=item.phone
                            td=item.location
                            td
                              i.fa.fa-trash(aria-hidden="true")                            
              .portlet-title
                .caption
                  i.fa.fa-cogs.font-blue-sharp
                  span.caption-subject.font-green-sharp.bold.uppercase
                  | Servicios
                .tools
                  a.reload(href="javascript:;")
              .portlet-body
                table.table#servicios
                  thead
                    th #
                    th Equipo
                    th fecha
                    th Estatus
                    th Usuarios
                    th 
                  tbody
                    each item,i in entitiesRelated
                      tr.odd.gradeX
                        td=i+1
                        td=item.name
                        td=item.email
                        td=item.phone
                        td=item.location
                        td
                          i.fa.fa-trash(aria-hidden="true")
  script(src='../javascripts/account/main.js')
