extends ../../layout
block content-mpro
  include ../../partials/header.pug
  .container-fluid
    .row
      .col-md-12
        .row.dashboard-nav-row
          .col-md-3
            a(href="/"+user.role)
              h5 Actividades
          .col-md-3.nav-active
            a(href="/"+user.role+"/companies")
              h5 Empresas
          .col-md-3
            a(href="/"+user.role+"/users")
              h5 Usuarios
          .col-md-3
            a(href="/"+user.role+"/equipments")
              h5 Equipos
        .row.company-nav-row
          ul.nav.nav-tabs(role="tablist", id="tabCompany")
            li.nav-item
              a.nav-link.active(data-toggle="tab", href="#company", role="tab", aria-controls="company") Empresas
            li.nav-item
              a.nav-link(data-toggle="tab", href="#branchcompany", role="tab", aria-controls="branchcompany") Sucursales
          .tab-content(style="width:100%")
            #company.tab-pane.active(role="tabpanel")
              .row
                .col-md-12
                  .btn-group
                    button#addComapny.btn.btn-primary(type="button", data-toggle="addCompanyModal", style="cursor:pointer; background-color:rgb(0,155,219)") Agregar Empresa 
                      i.fa.fa-plus
                .col-md-12
                  table.table
                    thead
                      th #
                      th Nombre
                      th Email
                      th Contacto
                      th Ubicacion
                      th
                      th
                    tbody
                      each company, i in companies
                        tr
                          td=i+1
                          td=company.name
                          td=company.email
                          td=company.phone
                          td=company.location
                          td
                            a.btn.default.btn-xs.blue-stripe(href="/home/company/"+company._id) ver
                          td
                            i.fa.fa-trash(aria-hidden="true")
            #branchcompany.tab-pane(role="tabpanel")
              .row
                .col-md-12
                  .btn-group
                    button#addBranchCompany.btn.btn-primary(type="button", data-toggle="addBranchCompanyModal", style="cursor:pointer; background-color:rgb(0,155,219)") Agregar Sucursal 
                      i.fa.fa-plus
                .col-md-12
                  table.table
                    thead
                      th #
                      th Nombre
                      th Email
                      th Contacto
                      th Ubicacion
                      th Empresa
                      th
                      th
                    tbody
                      each company, i in branchCompanies
                        tr
                          td=i+1
                          td=company.name
                          td=company.email
                          td=company.phone
                          td=company.location
                          td=company.company.name
                          td
                            a.btn.default.btn-xs.blue-stripe(href="/home/"+user.identifier+"/branch_company/"+company._id) ver
                          td
                            i.fa.fa-trash(aria-hidden="true")
  #addCompanyModal.modal.fade(rol="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5.modal-title Agregar Empresa
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          form(role="form", id="addComapnyForm", name="addComapnyForm", action="/entity", method="post")
            input(type="hidden", name="type", value="company")
            .form-group.row
              label.col-3.col-form-label(for="name") Nombre
              .col-9
                input.form-control(type="text", id="name", name="name", plateholder="Nombre")
            .form-group.row
              label.col-3.col-form-label(for="email") Correo
              .col-9
                input.form-control(type="email", id="email", name="email", plateholder="Correo")
            .form-group.row
              label.col-3.col-form-label(for="phone") Telefono
              .col-9
                input.form-control(type="phone", id="phone", name="phone", plateholder="Telefono")
            .form-group.row
              label.col-3.col-form-label(for="location") Ubicacion
              .col-9
                textarea.form-control(id="location", name="location", wrap="hard")
            .col-12(style="text-align:right")
              button.btn.btn-secondary(type="button", data-dismiss="modal", style="margin-right:1%;") Cerrar
              button.btn.btn-primary.addComapnySubmit(type="submit") Crear
  #addBranchCompanyModal.modal.fade(rol="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5.modal-title Agregar Sucursal
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          form(role="form", id="addBranchCompanyForm", name="addBranchCompanyForm", action="/entity", method="post")
            input(type="hidden", name="type", value="branch_company")
            .form-group.row
              label.col-3.col-form-label(for="name") Nombre
              .col-9
                input.form-control(type="text", id="name", name="name", plateholder="Nombre")
            .form-group.row
              label.col-3.col-form-label(for="email") Correo
              .col-9
                input.form-control(type="email", id="email", name="email", plateholder="Correo")
            .form-group.row
              label.col-3.col-form-label(for="phone") Telefono
              .col-9
                input.form-control(type="phone", id="phone", name="phone", plateholder="Telefono")
            .form-group.row
              label.col-3.col-form-label(for="location") Ubicacion
              .col-9
                textarea.form-control(id="location", name="location", wrap="hard")
            .form-group.row
              label.col-3.col-form-label(for="") Empresa
              .col-9
                select.form-control(id="company", name="company")
                  option Seleccione
                  each company in companies
                    option(value=company._id) #{company.name}
            .col-12(style="text-align:right")
              button.btn.btn-secondary(type="button", data-dismiss="modal", style="margin-right:1%;") Cerrar
              button.btn.btn-primary.addBranchCompanySubmit(type="submit") Crear
  script(src='../../javascripts/company/main.js')
    