extends ../../layout
block content-mpro
  - var tabActivitiesActive = "top-nav-item-active"
  include ../../partials/header.pug
  .container-fluid
    .row
      .col-md-12
        .row.information-company
          .col-md-12
            h4(style="display:inline-block") <b>#{currentAccount.company.name}</b>
        .row.manageActivity-nav-row
          ul.page-nav(role="tablist", id="tabManageActivity")
            li.nav-item
              a.nav-link.nav-item-active(data-toggle="tab", href="#maintenanceActivity", role="tab", aria-controls="maintenanceActivity") Actividades
            li.nav-item
              a.nav-link(data-toggle="tab", href="#maintenanceActivityAttention", role="tab", aria-controls="maintenanceActivityAttention") Atenciones
          .tab-content(style="width:100%")
            #maintenanceActivity.tab-pane.active(role="tabpanel")
              .row.activity-nav-row.nav-row-padding.searchBar
                .col-md-11
                  .input-group.has-clear
                    input.form-control.input-search.search-box(type="text", id="maintenanceActivitySearchInput", placeholder="Buscar actividad")
                    span.form-control-clear.fa.fa-times.fa-3.hidden
                    a.fa.fa-search.fa-w-16.fa-3x(id="maintenanceActivitySearchButton", data-type="maintenanceActivities")
                .col-md-1(style="padding-left:0;")
                  button#manageActivity.btn.btn-primary(type="button", data-toggle="manageActivityModal")
                    i.fa.fa-plus.noWrap 
                      |  Agregar
              .row.activity-nav-row.no-padding 
                .col-md-12
                  table.table.table-header.table-maintenanceActivity
                    thead
                      th #
                      th Nombre
                      th Tipo Equipo
                      th Estatus
                      th
                      th
                    tbody
                      each maintenanceActivity, i in maintenanceActivities
                        tr(class=maintenanceActivity.deleted === true ? "item-deleted" : "")
                          td=i + 1
                          td=maintenanceActivity.name
                          td=maintenanceActivity.equipmentType.name
                          td
                            if maintenanceActivity.status == true
                              label.label-sm.label-success Activo
                            else
                              label.label-sm.label-default Inactivo
                          td
                            if maintenanceActivity.deleted == false
                              a.btn.default.btn-xs.blue-stripe(onclick="searchMaintenanceActivity('" + maintenanceActivity._id + "')")
                                i.fa.fa-edit(aria-hidden="true")
                            else
                              label.label-sm.label-default Eliminado
                          td
                            if maintenanceActivity.deleted == false
                              i.fa.fa-trash(onclick="deleteMaintenanceActivity('" + maintenanceActivity._id + "')", aria-hidden="true")
                            else
                              i.fa.fa-undo(onclick="restoreMaintenanceActivity('" + maintenanceActivity._id + "')", aria-hidden="true")
            #maintenanceActivityAttention.tab-pane(role="tabpanel")
              .row.activity-nav-row.nav-row-padding.searchBar
                .col-md-11
                  .input-group.has-clear
                    input.form-control.input-search.search-box(type="text", id="maintenanceActivityAttentionSearchInput", placeholder="Buscar atención")
                    span.form-control-clear.fa.fa-times.fa-3.hidden
                    a.fa.fa-search.fa-w-16.fa-3x(id="maintenanceActivityAttentionSearchButton", data-type="maintenanceActivityAttentions", data-content=user.session_id)
                .col-md-1(style="padding-left:0;")
                  button#manageActivityAttention.btn.btn-primary(type="button", data-toggle="manageActivityModal")
                    i.fa.fa-plus.noWrap 
                      | Agregar
              .row.activity-nav-row.no-padding
                .col-md-12
                  table.table.table-header.table-maintenanceActivityAttention
                    thead
                      th #
                      th Equipo
                      th Fecha
                      th
                    tbody
                      each maintenanceActivityAttention, i in maintenanceActivityAttentions
                        tr
                          td=i + 1
                          td=maintenanceActivityAttention.name
                          td=maintenanceActivityAttention.date
                          td
                            a.btn.default.btn-xs.blue-stripe(onclick="showMaintenanceActivityAttention('" + maintenanceActivityAttention._id + "')") ver
                          td(style="display:none;", id=maintenanceActivityAttention._id)
                            table.table.table-header
                              thead
                                th #
                                th Activity
                                th Fecha
                                th Status
                                th
                              tbody
                                each attention, i in maintenanceActivityAttention.attentions
                                  tr
                                    td=i + 1
                                    td=attention.maintenanceActivity.name
                                    td=attention.date
                                    td
                                      if attention.checked == true
                                        label.label-sm.label-success Revisada
                                      else
                                        label.label-sm.label-default Por Revisar
                                    td
                                      a.btn.default.btn-xs.blue-stripe(onclick="searchMaintenanceActivityAttention('" + attention._id + "')")                          
  #manageActivityModal.modal.fade(role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header.bg-primary.text-white
          h4.modal-title.font-weight-bold Actividades y Atenciones
          button.close.fa.fa-close(type="button", style="color:white; opacity:1; text-shadow:1px 1px 1px #ccc; text-indent:0" data-dismiss="modal", aria-label="Close")
        .modal-body
          .row.manageActivityModal-nav-row
            ul.modal-nav(role="tablist", id="tabManageActivityModal")
              li.nav-item
                a.nav-link.active(data-toggle="tab", href="#addMaintenanceActivity", role="tab", aria-controls="addMaintenanceActivity") Agregar Actividades
              li.nav-item
                a.nav-link(data-toggle="tab", href="#addMaintenanceActivityAttention", role="tab", aria-controls="addMaintenanceActivityAttention") Agregar Atenciones
            .tab-content(style="width:100%")
              #addMaintenanceActivity.tab-pane.active(role="tabpanel")
                form(role="form", id="addMaintenanceActivityForm", name="addMaintenanceActivityForm", action="/maintenanceActivities", method="post")
                  .col-12
                    .form-group.row
                      label.col-3.col-form-label(for="name") Nombre
                      .col-9
                        input.form-control(type="text", id="name", name="name", placeholder="Nombre")
                    .col-12
                      button#addMaintenanceActivityName.btn.btn-xs.btn-info.add-activity(type="button", style="cursor:pointer; background-color:rgb(0,155,219)") 
                        i.fa.fa-plus
                      button#removeMaintenanceActivityName.btn.btn-xs.btn-info.add-activity(type="button", style="cursor:pointer; background-color:rgb(0,155,219)") 
                        i.fa.fa-minus
                    .form-group.row
                      label.col-3.col-form-label(for="equipmentType") Tipo de Equipo
                      .col-9
                        select.form-control(id="equipmentType", name="equipmentType", required="true")
                          option Seleccione
                          each equipmentType in equipmentTypes
                            option(value=equipmentType._id) #{equipmentType.name}
                    input.form-control(type="hidden", name="company", value=currentAccount.company._id)
                  .col-12(style="text-align:right")
                    button.btn.btn-secondary(type="button", data-dismiss="modal", style="margin-right:1%;") Cerrar
                    button#addMaintenanceActivitySubmit.btn.btn-primary(type="submit") Crear
              #addMaintenanceActivityAttention.tab-pane(role="tabpanel")
                form(role="form", id="addMaintenanceActivityAttentionForm", name="addMaintenanceActivityAttentionForm", action="/maintenanceActivityAttentions", method="post")
                  .col-12
                    .form-group.row
                      label.col-3.col-form-label(for="equipmentType") Tipo de Equipo
                      .col-9
                        select.form-control(id="equipmentType", name="equipmentType", required="true")
                          option Seleccione
                          each equipmentType in equipmentTypes
                            option(value=equipmentType._id) #{equipmentType.name}
                    .form-group.row
                      label.col-3.col-form-label(for="maintenanceActivities") Actividades
                      .col-9
                        select.form-control(id="maintenanceActivities", name="maintenanceActivities", multiple="true")
                    .form-group.row
                      label.col-3.col-form-label(for="equipment") Equipo
                      .col-9
                        select.form-control(id="equipment", name="equipment", required="true")
                          option Seleccione
                    hr
                    .form-group.row
                      label.col-3.col-form-label(for="dates") Fechas
                      .col-9
                        .input-group.date
                          input.form-control(type="text", id="dates", name="dates", readonly="true")
                          .input-group-addon
                            span.fa.fa-th
                    input.form-control(type="hidden", name="company", value=currentAccount.company._id)
                  .col-12(style="text-align:right")
                    button.btn.btn-secondary(type="button", data-dismiss="modal", style="margin-right:1%;") Cerrar
                    button#addMaintenanceActivityAttentionSubmit.btn.btn-primary(type="submit") Crear
  #updateMaintenanceActivityModal.modal.fade(role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header.bg-primary.text-white
          h4.modal-title.font-weight-bold Actualizar Actividad
          button.close.fa.fa-close(type="button", style="color:white; opacity:1; text-shadow:1px 1px 1px #ccc; text-indent:0" data-dismiss="modal", aria-label="Close")
        .modal-body
          form(role="form", id="updateManintenanceActivity", name="updateManintenanceActivity", action="/maintenanceActivities", method="put")
            input.form-control(type="hidden", id="maintenanceActivity", name="maintenanceActivity")
            .form-group.row
              label.col-3.col-form-label(for="name") Nombre
              .col-9
                input.form-control(type="text", id="name", name="name", placeholder="Nombre")
            .form-group.row
              label.col-3.col-form-label(for="description") Descripción 
              .col-9
                textarea.form-control(id="description", name="description", wrap="hard")
            .form-group.row
              label.col-3.col-form-label(for="equipmentType") Tipo de Equipo
              .col-9
                select.form-control(id="equipmentType", name="equipmentType")
                  option Seleccione
                  each equipmentType in equipmentTypes
                      option(value=equipmentType._id) #{equipmentType.name}
            .form-group.row
              label.col-3.col-form-label(for="status") Estatus
              .col-9
                .input-group
                  span.input-group-addon
                    input.form-control-custom(type="checkbox", id="status", name="status")
                  input.form-control(type="text", id="statusValue", name="statusValue", disabled="true")
            input.form-control(type="hidden", name="company", value=currentAccount.company._id)
            .col-12(style="text-align:right")
              button.btn.btn-secondary(type="button", data-dismiss="modal", style="margin-right:1%;") Cerrar
  #detailsActivityModal.modal.fade(role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header.bg-primary.text-white
          h4.modal-title.font-weight-bold Detelle
          button.close.fa.fa-close(type="button", style="color:white; opacity:1; text-shadow:1px 1px 1px #ccc; text-indent:0" data-dismiss="modal", aria-label="Close")
        .modal-body
        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal", style="margin-right:1%;") Cerrar
          button#updateMaintenanceActivitySubmit.btn.btn-primary(type="submit") Actualizar
  script(src='../../javascripts/maintenance_activity/main.js')

        